@import "tailwindcss";

:root {
  --background: #E7ECEF;
  --foreground: #6096BA;
  --primary: #274C77;
  --secondary: #A3CEF1;
  --bg: #E7ECEF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; 
    --foreground: #f8fafc;
  }
} */

@theme inline {
  /* Map CSS variables to Tailwind utilities */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bg: var(--bg);
  
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular;
}

/* Base styles using the variables */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}